<section class="header">
    <div class="row no-gutters">
        <div class="col-md-2">
            <select class="caret-select" id="ddlKiosk" (change)="changeKioskSelection()" style="margin-left: 10px;">
                <option value="0">
                    --Select Kiosk--
                </option>
                <option *ngFor="let kiosk of kioskList" value={{kiosk.kioskId}}>
                    {{kiosk.name}}
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="caret-select" id="ddlStaff" (change)="changeStaffSelection()" style="margin-left: 10px;">
                <option value="0">
                    --Select Staff--
                </option>
                <option *ngFor="let staff of staffList" value={{staff.staffId}}>
                    {{staff.name}}
                </option>
            </select>
        </div>
        <div class="col-md-3" style="padding-top: 10px; padding-left: 30px; text-align: center;">
            <h3> STAFF</h3>
        </div>
        <div class="col-md-5 txt-right" style="padding-top: 10px; padding-left: 30px; text-align: center;">
            <button id="btnReset" class="fa-expand-showgraph" (click)="getReset();" title="Re-set"
                style="margin-right: -10px;"><i class="fas fa-sync" style="font-size: 17px;"></i></button>
            <select class="caret-select" id="ddlSpeed" (change)="setSpeed($event.target.value)"
                style="width: 80px; height: 35px;">
                <option value="0">Speed</option>
                <option value="1">1x</option>
                <option value="2">2x</option>
                <option value="3" selected>3x</option>
                <option value="4">4x</option>
                <option value="5">5x</option>
                <option value="10">10x</option>
            </select>

            <button class="fa-expand-showgraph" (click)="getPlayStop();" title="Play Route"><i id="playStop"
                    class="fab fa-youtube" style="font-size: 17px;"></i></button>
        </div>
    </div>
</section>

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>

<div id="divStaff" class="tracking-bg" style="display: none;">
    <div class="main-info" style="padding-top: 10px;">
        <div class="icon-bg">
            <img src="../../assets/img/user.svg" style="margin-top: 6px; width: 22px;">
        </div>
        <h1>{{staffDetail.name}}<br />
            <p>Mob. : {{staffDetail.mobile}}</p>
        </h1>
    </div>
    <div class="main-info" style="padding-top: 10px;">
        <div class="icon-bg">
            <img src="../../assets/img/distance-covered.svg" style="margin-top: 6px; width: 26px;">
        </div>
        <h1>{{staffDetail.distance}} km.<br />
            <p>Distance Covered</p>
        </h1>
    </div>
    <div class="main-info" style="padding-top: 10px;border-bottom: none;">
        <div class="icon-bg">
            <img src="../../assets/img/travel-time.svg" style="margin-top: 6px; width: 22px;">
        </div>
        <h1>{{staffDetail.time}}<br />
            <p>Travel Time</p>
        </h1>
    </div>
</div>


<div id="myBox" style="display: none;">
    <div class="accordion" >
      <div class="card" >
        <div aria-labelledby="headingOne" >
            <div style="background-color: #1f7e40; border-bottom: 1px solid #fff; padding-bottom: 10px;">
                <select class="caret-select" id="ddlYear" (change)="changeYearSelection()" [(ngModel)]="selectedYear" style="width:120px; margin-left: 10px!important;">
                    <option value="0">Year</option>
                <option value={{yer.year}} *ngFor="let yer of yearList" ngSelected="yer.year == selectedYear?'selected':''">{{yer.year}}</option>
                </select>
                <select class="caret-select" id="ddlMonth" (change)="changeMonthSelection()" [(ngModel)]="selectedMonth"  style="width:120px; margin-left: 10px!important;">
                    <option value="0">Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
          <div  class="dth">
            <div class="table-bg">
              <div class="tableFixHead">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col"><b>Day</b></th>
                      <th scope="col" class="text-center"><b>Detail</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of monthDetail" (click)="getMonthSelectedDetail(dt.day);" style="cursor:pointer;">
                      <td style="vertical-align: top; width: 80px;">{{dt.day}}</td>
                      <td class="text-left"><span [hidden]="dt.km=='0.000'"> <b>{{dt.km}}</b> Km in <b>{{dt.hour}}</b></span></td>                       
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  
  </div>