.header{
    height:64px ; width: 100%; 
    background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%);
    color:#fff;
    } 
    .caret-select{margin-top: 10px!important; margin-left:30px!important;
    border-radius: 5px;
    padding:10px; border:none!important;  width: 97%;}
    button{width: 50%;   border-radius: 5px; padding:10px; margin-top: 10px!important; border:none!important; margin-left: -30px; margin-left:20px!important; }
    
    
    
    .box {border-radius: 50%; background-color: #fff; color:#000; text-align: center; border:5px solid #46ec41;
    width: 100px ; height: 100px; padding-top: 25px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    }
    .box2 {border-radius: 50%; background-color: #fff; color:#000; text-align: center; border:5px solid #f96332;
    width: 100px ; height: 100px; padding-top: 35px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);}
    
    .total-house .fa-home{
        margin-top: 15px;
        color: #8dbaff;
        font-size: 18px;
    }
    .total-house h6{
        font-size: 8px;
        font-weight: normal!important;
        letter-spacing: 0.5px;
    }
    .house{
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
    .total-house .fa-house-damage{
        margin-top: 15px;
        color: #1f7e40;
        font-size: 18px;
    }
    .float-l{
        float: left;
        width: 160px;
    }
    .float-r{
        float: right;
        width: calc(100% - 190px);
        margin-right: 20px;
    }
        
        /* .btns{height: 35px; background-color: #f96332; width: 100px;     writing-mode:tb-rl;
            -webkit-transform:rotate(90deg);
            -moz-transform:rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform:rotate(90deg);
            transform: rotate(90deg);
            white-space:nowrap;
            display:block;}
        
            .modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
            .modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
            .modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
            .modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
            .modal-dialog-slideout .modal-content{border: 0;}
            .modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
            .modal-dialog-slideout .modal-header h5 {float:left;}
             */
           
             
        
             /* Sticky Social Icon Start*/
        
        .sticky-container{
            padding:0px;
            margin:0px;
            position:fixed;
            right:-146px;
            top:140px;
            width:210px;
            z-index: 1100;
        }
        .sticky-container img{width: 100px; height:100px; border-radius: 50%; text-align: center;} 
        .sticky li{
            list-style-type:none;
            background-color:none;
            color:#efefef;
            height:250px;
            padding:0px;
            margin:0px 0px 1px 0px;
            -webkit-transition:all 0.25s ease-in-out;
            -moz-transition:all 0.25s ease-in-out;
            -o-transition:all 0.25s ease-in-out;
            transition:all 0.25s ease-in-out;
            cursor:pointer;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        .sticky li:hover{
            margin-left:-405px; background-color:none!important;
        }
        
        .sticky li p{
            padding:10px 10px;
            margin:0px;
            line-height:16px;
            font-size:20px;
        }
        .sticky li p a{
            text-decoration:none;
            color:blue;
        }
        .sticky li p a:hover{
            text-decoration:underline;
        }
        
        /* Sticky Social Icon End*/
        .sticky a{text-decoration: none!important;}
        
        .sticky .driver {font-size:16px; color:#fff; padding-top: 10px;background: #99847e;}
        .sticky  .texts{text-decoration: none; font-size:12px;  color:#fff!important;}
        .sticky .helper {font-size:16px; color:#fff; padding-top: 10px;background: #99847e;}
        .sticky .verticals{background:orange;  border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-right:2px solid #fff;}
        .sticky .vertical{padding-top:80px; 
            padding-left: 85px;font-size: 18px;
          color:#000!important; font-weight: 600; text-decoration: none!important; 
            -webkit-transform:rotate(90deg);
            -moz-transform:rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform:rotate(90deg);
            transform: rotate(90deg);
            white-space:nowrap;
            display:block;}
    
    /** Extra Small devices (landscape phones, 575px upto) **/
    @media (max-width: 575px) {
        .header{height:110px ; width: 100%;  background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%); color:#fff;}
        .caret-select{margin-top: 11px!important;
            border-radius: 5px;
            padding:10px; border:none!important;  width: 80%; margin-left:45px!important; }
        button{width: 80%;   border-radius: 5px; padding:9px; margin-top: 7px!important; border:none!important; margin-left:45px!important;  }
    
    
    }
    
    /** Small devices (tablets, 576px  to 767px upto) **/
    @media(min-width:576px) and (max-width:767px){
    
        .header{height:110px ; width: 100%;  background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%); color:#fff;}
        .caret-select{margin-top: 11px!important;
            border-radius: 5px;
            padding:10px; border:none!important;  width: 80%; margin-left:45px!important; }
        button{width: 80%;   border-radius: 5px; padding:9px; margin-top: 7px!important; border:none!important; margin-left:45px!important;  }
    
    }
    
     /* Large devices (desktops, 768px to 991px upto) */
        
     @media(min-width:768px) and (max-width:991px){
    
        .header{height:64px ; width: 100%;  background: linear-gradient(160deg, #2c2c2c 0%, #1f1f1f 100%); color:#fff;}
        .caret-select{margin-top: 10px!important;
            border-radius: 5px;
            padding:10px; border:none!important;  width: 90%; margin-left:45px!important; }
        button{width: 50%;   border-radius: 5px; padding:10px; margin-top: 10px!important; border:none!important; margin-left:-30!important;  }
    
     }
    
     /************** Route tracking box start **************/
    .tracking-bg{
        background: #3a74b3;
        width: 250px;
        box-shadow: 0 0.175rem 0.75rem rgba(0, 0, 0, 0.158);
        border-radius: 8px;
        position: fixed;
        right: 15px;
        top: 75px;
    }
    .tracking-bg .main-info{
        float: left;
        width: 100%;
        border-bottom: 1px dotted #fff;
        padding: 8px;
        color: #fff;
    }
    .tracking-bg .icon-bg-total{
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid rgba(211, 211, 211, 0.582);
        background: rgb(40, 173, 250);
        text-align: center;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.185);
        padding-top: 10px;
    }
    .tracking-bg .icon-bg-completed{
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid rgba(211, 211, 211, 0.582);
        background: rgb(2, 116, 45);
        text-align: center;
        color: #fff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.185);
        padding-top: 10px;
    }.tracking-bg .icon-bg-skipped{
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid rgba(211, 211, 211, 0.582);
        background: rgb(248, 1, 1);
        text-align: center;
        color: #fff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.185);
        padding-top: 10px;
    }
.tracking-bg .icon-bg-pending{
float: left;
width: 40px;
height: 40px;
border-radius: 50px;
border: 1px solid rgba(211, 211, 211, 0.582);
background: #fff;
text-align: center;
box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.185);
padding-top: 10px;
}
.tracking-bg  .main-info h1{
float: right;
padding-top: 10px;
width: 70%;
font-size: 16px;
line-height: 18px;
font-weight: 500;

margin: 0px!important;
}

.tracking-bg .main-info p{
font-size: 11px;
color: #fff;
margin: 0px!important;
}
/************** Route tracking box end **************/

/*************New Work CSS*****************/
.kiosk-box{
width: 350px;
min-height: 100px;
background-color: #ffffff;
box-shadow: 0 1px 5px 1px #80bd7b;
position: absolute;
right: 15px;
top: 70px;
/* border-radius: 5px; */
border:1px solid #80bd7b;
}

.farmer-box{
    width: 350px;
    min-height: 100px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 1px #80bd7b;
    position: absolute;
    right: 15px;
    top: 235px;
    /* border-radius: 5px; */
    border:1px solid #80bd7b;
    }

.driver{
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
}
.driver h5{
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
}
.main-box{
    width: 100%;
    float: left;
    border-bottom: 1px solid lightgray;
}
.main-box .designation{
    width: 50px;
    float: left;
    padding: 10px;
    text-align: center;
    border-right: 1px solid lightgray;
}
.designation h5{
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
    color: #0ba118;
    text-shadow: 0 2px 2px #c8c8c8;
}
.main-box .all-details{
    padding: 10px;
}
.all-details h6{
 font-size: 12px;
 line-height: 1.5;
 margin: 0px;
}
.all-details p{
    font-weight:normal;
    margin: 0px;
   }
.img-circle{
border:2px solid lightgray;
padding: 2px;
width: 65px;
border-radius: 50%;
height: 65px;
}
.driver h6{
margin-top: 8px;
font-size: 11px;
color: #000000;
text-transform: capitalize;
line-height: 17px;
font-weight: normal;
}
.driver .mobile{
font-size: 10px;
font-weight: normal;
}
.seprater{
border-bottom: 1px dotted #80bd7b;
}


.line-details-box-house{
    width: 265px;
    min-height: 100px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 2px #dedede;
    position: absolute;
    right: 15px;
    top: 432px;
    /* border-radius: 5px; */
    border: 1px solid lightgray;
    display: none;
    }

.line-details-box{
width: 265px;
min-height: 100px;
background-color: #ffffff;
box-shadow: 0 2px 5px 2px #dedede;
position: absolute;
right: 15px;
top: 265px;
/* border-radius: 5px; */
border: 1px solid lightgray;
}
.lines{
padding: 2px;
width:50%;
float: left;
text-align: center;
border-right: 1px dotted lightgray;
background: linear-gradient( 135deg   , white 92%, #82d387 96%, #5ec765 91%, #5b9922 100%);
transition: 0.3s ease-in-out;
}
.lines:hover{
    color:#0ba118;
}
.lines2{
    padding:2px;
    width: 50%;
    float: right;
    text-align: center;
    background: linear-gradient(135deg , white 92%, #82d387 96%, #5ec765 91%, #5b9922 100%);
    transition: 0.3s ease-in-out;
    }
.lines2:hover{
    color:#0ba118;
}
.flt-left{
    width: 125px;
    float: left;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-bottom: 10px;
}
.flt-right{
    width: calc(250px - 147px);
    float: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
.para-text{

}
.text-bg{
background: #e7e7e7;
padding: 5px;
width: 40px;
min-height: 40px;
border-radius: 2px;
display: inline-grid;
justify-content: center;
align-items: center;
margin-right: 10px;
}
.para-text{
    display: inline-block;
}
.line-details-box h3{
font-size: 16px;
font-weight: bold;
margin: 0px;
}
.line-details-box p{
font-size: 10px;
font-weight: normal;
margin: 0px;
}


.line-details-box-house h3{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    }
    .line-details-box-house p{
    font-size: 10px;
    font-weight: normal;
    margin: 0px;
    }




.fix-home{
    width: 250px;
    float: right;
}
.float-l{
    float: left;
    width: 115px;
}
.float-r{
    float: right;
    width: calc(250px - 145px);
    margin-right: 20px;
}
    
    
    
    