<section class="header">
  <div class="row no-gutters">
    <div class="col-md-3">
      <select class="caret-select" id="ddlKiosk" (change)="changeKioskSelection()">
        <option value="0">
          All
        </option>
        <option *ngFor="let kiosk of kioskList" value={{kiosk.kioskId}}>
          {{kiosk.name}}
        </option>
      </select>
    </div>
    
    <div class="col-md-6" style="padding-top: 20px; padding-left: 30px;;">
      &nbsp;
    </div>
    <div id="houseCount" class="col-md-3 text-right total-house">
      <div>

      </div>
      <div class="fix-home">        
        <div class="float-r">
          <i class="fas fa-house-damage"></i> <span class="house"> 0</span><br>
          <h6>Total Kiosk</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<div #gmap style="width:100%;height:600px;margin-top: -50px; position:absolute;" id="divMap"></div>

<div class="driver-helper-box">
  <div class="row">
    <div class="col-md-12">
      <div class="main-box">
        <div class="designation">
          <h5> D </h5>
        </div>
        <div class="all-details">
          <h6>--- <br>
            <p>---</p>
          </h6>
        </div>
      </div>
      <div class="main-box">
        <div class="designation">
          <h5> H </h5>
        </div>
        <div class="all-details">
          <h6>--- <br>
            <p>---</p>
          </h6>
        </div>
      </div>
      <div class="main-box">
        <div class="designation">
          <h5> P </h5>
        </div>
        <div class="all-details">
          <h6>--- <br>
            <p>---</p>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line-details-box">
  <div class="lines" style="border-bottom: 1px dotted lightgray;">
    <h3>---
      <p>Total Lines</p>
    </h3>
  </div>
  <div class="lines2" style="border-bottom: 1px dotted lightgray;">
    <h3>---
      <p>Skipped Lines</p>
    </h3>
  </div>
  <div class="lines" style="border-bottom: 1px dotted lightgray;">
    <h3>---
      <p>Completed Lines</p>
    </h3>
  </div>
  <div class="lines2" style="border-bottom: 1px dotted lightgray; ">
    <h3>---
      <p>Current Lines</p>
    </h3>
  </div>
  <div class="lines">
    <h3>---<span style="font-size: 10px;font-weight: normal;">km</span>
      <p>Total Ward Length</p>
    </h3>
  </div>
  <div class="lines2">
    <h3>---<span style="font-size: 10px;font-weight: normal;">km</span>
      <p>Current Ward Length</p>
    </h3>
  </div>
</div>


<div id="houseDetail" class="line-details-box-house">
  <div class="lines" style="border-bottom: 1px dotted lightgray;">
    <img src="../assets/img/blue-home.png">
    <h3>
      <p>Phase 1</p>
    </h3>
  </div>
  <div class="lines2" style="border-bottom: 1px dotted lightgray; ">
    <img src="../assets/img/purple-home.png" width="17">
    <h3>
      <p>Phase 1 (Approved)</p>
    </h3>
  </div>
  <div class="lines" style="border-bottom: 1px dotted lightgray;">
    <img src="../assets/img/red-home.png">
    <h3>
      <p>Phase 2 </p>
    </h3>
  </div>
  <div class="lines2" style="border-bottom: 1px dotted lightgray;">
    <img src="../assets/img/yellow-home.png" width="17">
    <h3>
      <p>Phase 2 (Approved)</p>
    </h3>
  </div>
  <div class="lines">
    <img src="../assets/img/green-home.png">
    <h3>
      <p>Scanned</p>
    </h3>
  </div>
  <div class="lines2">
    <img src="../assets/img/sweet-home.png" width="30">
    <h3>
      <p>Parshad House</p>
    </h3>
  </div>
</div>