<div class="logo">
    <a [routerLink]="['/home']" class="simple-text logo-mini" style="display: none;">
        <div class="logo-img">
            
        </div>
    </a><br>
    <a [routerLink]="['/home']" class="simple-text logo-noraml">
        Freshokartz
    </a>
</div>

<!------Shubham 1 Style Start---------->
<!-- <div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let usr of accessList">
          <a [routerLink]="[usr.url]" >
              <i class="{{usr.img}}"></i>
              <p>{{usr.name}}</p>
          </a>
      </li>
      <li >
          <a href="/logout" >
              <i class="fas fa-sign-out-alt"></i>
              <p>Log Out</p>
          </a>
      </li>
  </ul>
</div> -->
<!------Shubham 1 Style End---------->

<!------Shubham 2 Style Start---------->
<div class="sidebar-wrapper">
    <ul class="nav">
        <li >
            <a [routerLink]="['/kiosk']">
                <i class="now-ui-icons location_pin"></i>
                <p>Kiosks</p>
            </a>
        </li>
        <li >
            <a [routerLink]="['/staff-tracking']">
                <i class="now-ui-icons location_pin"></i>
                <p>Staff</p>
            </a>
        </li>
        <!--  <li>
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
            <a  href="/logout"  data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </a>
        </li>-->
    </ul>
</div>
<!------Shubham 2 Style End---------->

<!------Harendra Sir Style Start---------->
<!-- <div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let usr of accessList">
          <a (click)="getPage(usr.url)" [routerLink]="[usr.url]" >
              <i class="{{usr.img}}"></i>
              <p>{{usr.name}}</p>
          </a>
      </li>
      <li>
          <a href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              <p>Log Out</p>
          </a>
      </li>
  </ul>
</div>  -->
<!------Harendra Sir Style End---------->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to log out?</h5>
        </div>
        <div class="modal-body text-center">
            <button type="button" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->