/*********************** More Pages Start*********************/
.more-pages{
background: white;
height: 100vh;
background-image: url(../../assets/img/home-bg.jpg);
background-size: cover;
}
.more-pages-header{
background-color: #262127;
color: #fff;
height: 60px;
padding-top: 12px;
text-transform: capitalize;
letter-spacing: 0px;
font-size: 20px;
font-weight: normal;
text-align: center;
border-bottom: 2px solid #3aa2b3;
//    background-image: url(../../assets/img/more-pages.gif);
//  background-size: cover;
}
.bg{
background-image: url(../../assets/img/home-bg.jpg);
background-size: cover;
}
.imp-text{
color: #3aa2b3;
font-weight: bold;
letter-spacing: 1px;
}
.center{
display: flex;
width: 100%;
justify-content: center;
}
.absolute{
position: fixed;
bottom: 20px;
}
.half-circle {
width: 400px;
height: 200px;
background-color: transparent;
border-top-left-radius: 220px;
border-top-right-radius: 220px;
border: 10px solid #3aa2b3;
border-bottom: 0;
}
.welcome-text{
text-align: center;
margin-top: 50px;
}
.welcome-text h3{
margin: 0px;
font-size: 12px;

font-weight: bold;
color: #000;
line-height: 26px;
}
.highlight-text{
color: #3aa2b3;
font-size: 25px;
}
.social-links{
background: #fff;
color: #3aa2b3;
height: 40px;
width: 40px;
border: 1px solid #e0e0e0;
-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 25px;
left: 50px;
cursor: pointer;
}
.social-links:hover{
background: #3aa2b3;
color: #fff;
}
.mt-100{
margin-top: 100px!important;
}
.mt-150{
margin-top: 150px!important;
}
.mt-15{
margin-top: 15px!important;
}
.more-cards{
width: 100%;
min-height: 130px;
position: relative;
background: none;
border: none;
border-radius: 5px;
padding: 10px;
text-align: center;
cursor: pointer;
color: #3aa2b3;
display: table;

/* "to left" / "to right" - affects initial color */
// background: linear-gradient(to left, #e7e7e7 50%, #3aa2b3 50%) right;
// background-size: 200%;
// transition: .5s ease-out;

position: relative;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1); 
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1); 
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1);
transition: all 200ms ease-in;
transform: scale(1); 
}
@keyframes rotate {
100% {
transform: rotate(1turn);
}
}

.rainbow {
position: relative;
z-index: 0;
overflow: hidden;
padding: 1rem;
}

.rainbow:hover:before {
content: '';
position: absolute;
z-index: -2;
left: -50%;
top: -50%;
width: 200%;
height: 200%;
background-color: #399953;
background-repeat: no-repeat;
background-size: 50% 50%, 50% 50%;
background-position: 0 0, 100% 0, 100% 100%, 0 100%;
background-image: linear-gradient(#3aa2b3, #3aa2b3), linear-gradient(#fff, #fff), linear-gradient(#3aa2b3, #3aa2b3), linear-gradient(#fff, #fff);
animation: rotate 4s linear infinite;
}

.rainbow::after {
content: '';
position: absolute;
z-index: -1;
left: 2px;
top: 2px;
width: calc(100% - 4px);
height: calc(100% - 4px);
background: #e4e4e4;
border-radius: 5px;
}

.more-cards:hover {
background-position: left;
color: #3aa2b3;
-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);

//box-shadow: 0px 0px 150px #000000;
z-index: 2;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1.03);
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1.03);   
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1.03);
transition: all 200ms ease-in;
transform: scale(1.03);
}
.vertical{
display: table-cell;
vertical-align: middle;
}
i{
font-size: 35px;
transition: 0.70s;
-webkit-transition: 0.70s;
-moz-transition: 0.70s;
-ms-transition: 0.70s;
-o-transition: 0.70s;
color: #3aa2b3;
}
.more-cards:hover i{
color: #3aa2b3;
transition: 0.70s;
// -webkit-transition: 0.70s;
// -moz-transition: 0.70s;
// -ms-transition: 0.70s;
// -o-transition: 0.70s;
// -webkit-transform: rotate(360deg);
// -moz-transform: rotate(360deg);
// -o-transform: rotate(360deg);
// -ms-transform: rotate(360deg);
// transform: rotate(360deg);
} 


.more-cards h3{
margin: 0px;
font-size: 14px!important;
text-transform: capitalize;
font-weight: normal;
margin-top: 5px;
color: #000;
}


.home-footer{
position: fixed;
bottom: 0;
left: 0;
border-top: 2px  solid lightgray;
color: #fff;
height: 60px;
padding-top: 18px;
padding-left: 100px;
font-size: 14px;
background-color: #262127;
}
.col-md-2{
padding-right: 8px;
padding-left: 8px;
}
.fa-facebook-f{
color:#3b5998 ;
font-size: 14px!important;
}
.fa-twitter{
color: #00acee ;
font-size: 14px!important;
}
.fa-linkedin-in{
color:#0e76a8 ;
font-size: 14px!important;
}
.fa-instagram{
font-size: 14px!important;
}

/*********************** More Pages End*********************/


@keyframes rotate {
0% { transform: rotate(0deg) }
100% { transform: rotate(360deg) }
}
.pos-left{
position: relative;
}
.img-section{
position: absolute;
left: 0px;
top: 0px;
text-align: left;
}
.img-section img{
width: 50%;
}
.img-section-2{
position: absolute;
left: 0px;
bottom: 0px;
text-align: left;
}
.img-section-2 img{
width: 50%;
}
.img-section-3{
position: absolute;
right: 0px;
top: 0px;
text-align: right;
}
.img-section-3 img{
width: 50%;
}
.img-section-4{
position: absolute;
right: 0px;
bottom: 0px;
text-align: right;
}
.img-section-4 img{
width: 50%;
}
.rounded-cicle h3{
font-size: 12px;
font-weight: normal;
line-height: 26px;
color: #000;
text-align: center;
}
.rounded-cicle .hglt{
font-weight: bold;
color: #3aa2b3;
font-size: 28px;
}

//************** New CSS Start ****************//
.f-height{
display: flex;
justify-content: center;
}
.d-page{
// background-color: #57ae5e!important;
overflow: hidden;
height: 100vh!important;
background-image: url(../../assets/img/home-bg.jpg);
background-size: cover;
}
.footer-content{
position: fixed;
bottom: 10px;
width: 40%;
}
.footer-content img{
width: 100%;
}
.wlcm-text{
text-align: center;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-100%);
}
.wlcm-text h3{
margin: 0px;
font-size: 12px;
font-weight: bold;
color: #000;
line-height: 26px;
}
.icons{
font-size: 35px;
transition: 0.70s;
-webkit-transition: 0.70s;
-moz-transition: 0.70s;
-ms-transition: 0.70s;
-o-transition: 0.70s;
color: #fff;
}
.link-text{
color: #fff!important;
text-decoration: none;
}
.more-pages{
display: none;
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 360px) {
.more-pages-header{
font-size: 15px;
padding-top:17px;
}
.height-mob{
max-height: 100vh;
overflow: hidden;
overflow-y: scroll;
padding-bottom: 75px;
}
.half-circle {
width: 300px;
height: 150px;
background-color: transparent;
border-top-left-radius: 145px;
border-top-right-radius: 145px;
border: 10px solid #3aa2b3;
border-bottom: 0;
}
.welcome-text{
text-align: center;
margin-top: 30px;
}
.home-footer{
padding-left: 0px!important;
}
.d-page{
display: none;
}
.more-pages{
display: block;
}

}

@media (min-width: 361px) and (max-width: 576px) {
.height-mob{
max-height: 100vh;
overflow: hidden;
overflow-y: scroll;
padding-bottom: 75px;
}
.half-circle {
width: 300px;
height: 150px;
background-color: transparent;
border-top-left-radius: 145px;
border-top-right-radius: 145px;
border: 10px solid #3aa2b3;
border-bottom: 0;
}
.welcome-text{
text-align: center;
margin-top: 30px;
}
.home-footer{
padding-left: 0px!important;
}
.d-page{
display: none;
}
.more-pages{
display: block;
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
.height-mob{
max-height: 100vh;
overflow: hidden;
overflow-y: scroll;
padding-bottom: 75px;
}
.d-page{
display: none;
}
.more-pages{
display: block;
}
.home-footer{
padding-left: 0px;
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
   .height-mob{
   max-height: 100vh;
   overflow: hidden;
   overflow-y: scroll;
   padding-bottom: 75px;
   }
   .d-page{
   display: none;
   }
   .more-pages{
   display: block;
   }
   .home-footer{
   padding-left: 0px;
   }
   
   }
   @media (min-width: 992px) and (max-width: 1199.98px) {
      .height-mob{
         max-height: 100vh;
         overflow: hidden;
         overflow-y: scroll;
         padding-bottom: 75px;
         }
         .d-page{
         display: none;
         }
         .more-pages{
         display: block;
         }
         .home-footer{
         padding-left: 0px;
         }
    }
