 <section class="more-pages">
  <div class="container-fluid">
     <div class="row more-pages-header">
       <div class="col-md-12">
         Welcome <span class="imp-text"> User</span>
       </div>
     </div>
     <div class="height-mob">
     <div class="row mob-responsive">
       <div class="col-md-6 col-lg-4 col-xl-6 mt-15" style="padding-right: 8px;" routerLinkActive="active">
        <div class="more-cards rainbow" [routerLink]="['/maps']">
          <div class="vertical">
          <i class="now-ui-icons location_pin" style="font-weight: bold;"></i> <br>
          <h3>Kiosks</h3>
        </div>
      </div>
        </div>
       </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center home-footer">
      Copyright by <b
        style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">WeVOIS</b>
      &nbsp; <a href="https://www.facebook.com/wevois/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      &nbsp; <a href="https://twitter.com/wevois?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
      &nbsp; <a href="https://in.linkedin.com/company/wevois-labs-pvt-ltd" target="_blank"><i
          class="fab fa-linkedin-in"></i></a>
      &nbsp; <a href="https://www.instagram.com/wevoislabs/?hl=en" target="_blank"><i
          class="fab fa-instagram"></i></a>
    </div>
  </div>
</section> 

<section class="d-page">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12 center">
        <div class="absolute">
        <div class="half-circle">
          <div class="welcome-text">
            <h3>WELCOME TO <br>
             <span class="highlight-text"> Freshokartz</span>
            </h3>
          </div>
        </div>
        </div>
      </div>
     </div>

    <div class="row more-pages-header">
      <div class="col-md-12">
        Welcome <span class="imp-text"> User</span>
      </div>
    </div>

    <div class="height-mob">
      <div class="row mob-responsive" style="display: flex; justify-content: center;padding-left: 8px; padding-right: 8px;">
        <div class="col-md-2 mt-15" routerLinkActive="active">
         <div class="more-cards rainbow" [routerLink]="['/maps']">
           <div class="vertical">
           <i class="now-ui-icons location_pin" style="font-weight: bold;"></i> <br>
           <h3>Kiosks</h3>
         </div>
       </div>
         </div>
         </div>
         </div>



    <div class="row">
      <div class="col-md-12 text-center home-footer">
        Copyright by <b
          style="color: #f1f1f1;  border-right: 2px solid rgb(165, 165, 165);  padding-right: 10px;">Freshokartz</b>
        &nbsp; <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        &nbsp; <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        &nbsp; <a href="#" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
        &nbsp; <a href="#" target="_blank" ><i
            class="fab fa-instagram" style="color: green;"></i></a>
      </div>
    </div>
    
  </div>
</section>




